.buttons {
    background-color: rgb(0, 178, 248);
    color: white;
    border: none;
    border-radius: 25%;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}