
.new-slide {
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
  
.new-slide button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgb(0, 178, 248);
    background-color: rgb(0, 178, 248);
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}
  
.new-slide button:hover,
.new-slide button:active {
    background-color: rgb(0, 178, 248);
    border-color: rgb(0, 178, 248);
}
  
.new-slide button.alternative {
    color: rgb(0, 178, 248);
    border-color: transparent;
    background-color: transparent;
}
  
.new-slide button.alternative:hover,
.new-slide button.alternative:active {
    background-color: black;
}