body {
  background-color: rgb(34, 34, 34);
  margin: 0;
  padding: 0;
}

header {
  height: 4em;
  background-color: rgb(30, 199, 255);
  /* margin-top: -20px; */
}

footer {
  background-color: rgb(34,34,34);
}

.home {
  margin-top: none;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 0;
  padding: 1em;
}

.number {
  position: absolute;
  right: 3em;
  top: 4em;
}
